[Unit]
Description=Run borgbackup or run if missed

[Timer]
WakeSystem=false
OnCalendar=daily
Persistent=true     
 
[Install]
WantedBy=timers.target
