[Unit]
Description=Borg Backup

[Service]
Type=simple
ExecStartPre=/usr/bin/borg break-lock /media/david/backup
ExecStart=/home/david/.local/bin/borg-backup.sh